body {
  background: #f3f3f9;
  box-sizing: border-box;
}

nav {
  box-shadow: 0 19px 34px -15px #d2d2f2;
}

.row {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*="col-"] {
  display: flex;
}

.row .card {
  margin: 20px 20px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.navbar {
  background: rgba(126, 217, 86, 255);
}

.navbar * {
  color: white !important;
}

.btn,
.dropdown-menu {
  background: forestgreen;
}

.dropdown-item:hover {
  background: rgba(126, 217, 86, 255);
}

form {
  width: fit-content;
  margin: 0px auto;
}

.content-wrapper {
  margin: 0px 50px;
  min-height: calc(100vh - 135px - 75px);
}

.form-box {
  width: 550px;
  margin-top: 50px;
  background-color: white;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.625rem;
}

.form-box label {
  margin: 4px;
}

.form-box button {
  font-size: 18px;
  margin: 15px auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-box h2 {
  margin: 50px 0;
}

.success-box {
  margin-top: 150px;
}

.success-box .card {
  margin: 0px auto;
  width: fit-content !important;
  background: rgba(126, 217, 86, 255);
}

.success-box .success-button {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  width: 450px;
}

.what-we-are {
  background-color: white !important;
}

@media only screen and (max-width: 768px) {
  [class*="form-group"] {
    width: 360px;
  }
}
